body {
  margin: 0;
}

#nav {
  position: fixed;
  border: 1px solid blue;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 25px;
}

/* #nav button {
  height: 7px;
  width: 7px;
  font-size: 7px;
  border-radius: 50%;
  background: #b6b6b6;
  border: none;
} */

#nav .elevator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav .elevator {
  height: 10px;
  width: 10px;
  background: #b6b6b6;
  border-radius: 50%;
  transition: all 1s;
  box-sizing: border-box;

  margin: 10px 0;
}

#nav .active {
  height: 12px;
  width: 12px;
  /* background: #b6b6b6; */
  border-radius: 50%;
  background: black;
  /* height: 20px;
  width: 20px;
  border-radius: 50%; */
}

.vertical-scroll {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.floor {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
}

/* #third {
  background-color: pink;
}

#second {
  background-color: deepskyblue;
}

#first {
  background-color: lightsalmon;
}

#ground {
  background-color: palegreen;
} */

.up-container,
.down-container {
  display: none;
  /* border: 1px solid red; */
}

.floor-card {
  width: 80vw;
  max-width: 980px;
  height: 90vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  margin-left: 10vw;
}

@media (max-width: 1100px) {
  .floor-card {
    margin-left: 5vw;
  }
}

@media (max-width: 600px) {
  .floor {
    justify-content: center;
  }

  .floor-card {
    height: 75vh;
    margin-left: 0;
    margin-top: 30px;
  }

  #nav {
    height: 30px;
    width: 100vw;
    padding-right: 0px;
    padding-top: 10px;

    flex-direction: row;
    justify-content: center;
  }

  #nav .elevator-container {
    flex-direction: row;
  }

  #nav .elevator {
    margin: 0 10px;
  }

  .up-container {
    display: block;
    position: fixed;
    top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .down-container {
    display: block;
    position: fixed;
    bottom: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .direction {
    display: none;
  }
}
