body {
  margin: 0;
  font-family: sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}

body[data-status="morning"] {
  background: linear-gradient(
    180deg,
    rgba(254, 161, 128, 1) 0%,
    rgba(255, 245, 195, 1) 100%
  );
}

body[data-status="afternoon"] {
  background: linear-gradient(
    180deg,
    rgba(157, 231, 255, 1) 0%,
    rgba(255, 255, 243, 1) 100%
  );
}

body[data-status="evening"] {
  background: linear-gradient(
    180deg,
    rgba(169, 101, 162, 1) 0%,
    rgba(229, 172, 182, 1) 100%
  );
}

body[data-status="night"] {
  background: linear-gradient(
    180deg,
    rgba(33, 26, 82, 1) 0%,
    rgba(27, 81, 112, 1) 100%
  );
}

body[data-status="evening"] #floor-num,
body[data-status="night"] #floor-num {
  color: white;
}

body[data-status="evening"] #nav .elevator,
body[data-status="night"] #nav .elevator {
  background: white;
  opacity: 0.5;
}

body[data-status="evening"] #nav .active,
body[data-status="night"] #nav .active {
  opacity: 1;
}

#nav {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 25px;
}

/* #nav button {
  height: 7px;
  width: 7px;
  font-size: 7px;
  border-radius: 50%;
  background: #b6b6b6;
  border: none;
} */

#nav .elevator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav .elevator {
  height: 10px;
  width: 10px;
  background: black;
  opacity: 0.3;
  /* background: #b6b6b6; */
  border-radius: 50%;
  transition: all 1s;
  box-sizing: border-box;

  margin: 10px 0;
}

#nav .active {
  height: 12px;
  width: 12px;
  /* background: #b6b6b6; */
  border-radius: 50%;
  opacity: 1;
  /* background: black; */
  /* height: 20px;
  width: 20px;
  border-radius: 50%; */
}

.vertical-scroll {
  /* border: 1px solid red; */
  height: 100vh;
  /* width: 100vw; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.floor {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
}

.up-btn.direction {
  margin-top: 20px;
}

.down-btn.direction {
  margin-bottom: 20px;
}

.up-btn,
.down-btn {
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 1s;
}

.up-btn {
  opacity: 0;
}

.up-btn img,
.down-btn img {
  width: 80%;
  object-fit: contain;
}

#third-card {
  background-image: url("./3f.jpg");
  /* background-color: pink; */
}

#second-card {
  background-image: url("./2f.jpg");
}

#first-card {
  background-image: url("./1f.jpg");
}

#ground-card {
  background-image: url("./g.jpg");
}

.up-container,
.down-container {
  display: none;
  /* border: 1px solid red; */
}

#floor-num {
  position: fixed;
  height: 100vh;
  width: 30px;
  top: 0;
  right: 70px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.floor-card {
  width: 80vw;
  max-width: 980px;
  height: 90vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin-left: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.floor-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  /* padding: 10px 30px; */
  width: 360px;
}

.floor-description h1,
.floor-description h2,
.floor-description p {
  margin: 0 30px;
}

.floor-description h1 {
  font-size: 21px;
  margin-top: 30px;
}

.floor-description h2 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
}

.floor-description p {
  font-size: 14px;
  margin-bottom: 10px;
}

.floor-description h3 {
  display: none;
  margin: 0;
}

.floor-description img {
  width: 300px;
  margin-left: 30px;
  height: 160px;
  margin-bottom: 30px;
}

.vertical_dotted_line {
  border-left: 3px dotted black;
  height: 155px;
  width: 1px;
  position: absolute;
  bottom: 30px;
  left: 100px;
}

.mobile-img {
  display: none;
}

@media (max-width: 1100px) {
  .floor-card {
    margin-left: 5vw;
  }
}

@media (max-width: 850px) {
  #nav {
    padding-right: 10px;
  }

  #floor-num {
    right: 50px;
  }
}

@media (max-width: 600px) {
  .floor {
    justify-content: center;
  }

  .floor-card {
    height: 75vh;
    margin-left: 0;
    margin-top: 30px;
  }

  #nav {
    height: 30px;
    width: 100vw;
    padding-right: 0px;
    padding-top: 10px;

    flex-direction: row;
    justify-content: center;
  }

  #nav .elevator-container {
    flex-direction: row;
  }

  #nav .elevator {
    margin: 0 10px;
  }

  #floor-num {
    display: none;
  }

  .up-container {
    display: block;
    position: fixed;
    top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .down-container {
    display: block;
    position: fixed;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .direction {
    display: none;
  }

  .floor-description {
    background: white;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .floor-description img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    /* height: 250px; */
  }

  .vertical_dotted_line {
    display: none;
  }

  .floor-description h3 {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: 400;
  }

  .mobile-img {
    width: 100%;
    display: block;
    position: top;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
}
